button {
    width: 110px;
}

#atk-combobox {
    min-width: 200px;
}

#char-div, #atk-div, #combo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


#sequence-box {
    height: 400px;
    width: 750px;
}